<div class="header-wrapper">
    <img src="~/images/narm_banner.png" class="char-banner" />
    <div class="char-name">Narmaya</div>
    <div class="char-desc">
        A katana master who was born into a line of expert martial artists.  Through diligent tempering Narmaya combined her family's martial arts with magic and formed her own unique blade technique—one which she wields with extraordinary finesse.  Although her short stature may paint her as easy pickings, a wise opponent should not underestimate her ability to freely switch between Dawnfly and Freeflutter stances, lest they be cut down in the blink of an eye.
        <br /><br />
        Outside the heat of battle, however, she is a kind, spirited person who looks after others and seeks affection from the one who has acknowledged her, often going overboard in her unstoppable adoration.
    </div>
    <nav class="char-nav">
        <ul>
            <li><a href="">Overview</a></li>
            <li>Frame Data</li>
            <li>Combos</li>
            <li>Match Videos</li>
            <li>Colors</li>
        </ul>
    </nav>
</div>
<br /><br />
